body {
				color: #333;
				font-family: 'Open Sans', sans-serif;
				margin: 0;
				padding: 0;
			}

			#main_content {
				margin: 40px;
			}

			h1 {
			 	font-size: 30px;
			 	margin-bottom: 40px;
			}

			.button_container {
				border: 1px solid #ddd;
				margin: 0 10px 10px 0;
				padding: 20px;
				width: 300px;
				height: 300px;
				float: left;
				overflow: hidden;
				box-sizing: border-box;
				text-align: center;
			}



			a#btn_spotify {
				display: inline-block;
				height: 50px;
				box-sizing: border-box;
				border-radius: 25px;
				margin: auto;
				margin-top: 100px;
				padding: 10px 40px 0 40px;
				background-color: #2ebd59;
				border: 2px solid #2ebd59;
				color: #fff;
				font-size: 20px;
				font-family: 'Montserrat', sans-serif;
				font-weight: bold;
				text-decoration: none;
			}

			a#btn_spotify:hover {
				background-color: #fff;
				border: 2px solid #000;
				color: #000;
			}


			a#btn_twitter {
				display: inline-block;
				height: 40px;
				box-sizing: border-box;
				border-radius: 4px;
				margin: auto;
				margin-top: 105px;
				padding: 10px 30px 0 30px;
				background-color: #56cdf1;
				color: #fff;
				font-size: 18px;
				font-family: 'Arial', sans-serif;
				font-weight: bold;
				text-decoration: none;
			}

			a#btn_twitter:hover {
				/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#2ebfec+0,28a5cb+100 */
				background: #2ebfec; /* Old browsers */
				background: -moz-linear-gradient(top,  #2ebfec 0%, #28a5cb 100%); /* FF3.6+ */
				background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#2ebfec), color-stop(100%,#28a5cb)); /* Chrome,Safari4+ */
				background: -webkit-linear-gradient(top,  #2ebfec 0%,#28a5cb 100%); /* Chrome10+,Safari5.1+ */
				background: -o-linear-gradient(top,  #2ebfec 0%,#28a5cb 100%); /* Opera 11.10+ */
				background: -ms-linear-gradient(top,  #2ebfec 0%,#28a5cb 100%); /* IE10+ */
				background: linear-gradient(to bottom,  #2ebfec 0%,#28a5cb 100%); /* W3C */
				filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2ebfec', endColorstr='#28a5cb',GradientType=0 ); /* IE6-9 */
			}


			a#btn_amazon {
				display: block;
				width: 100px;
				height: 100px;
				box-sizing: border-box;
				border-radius: 50px;
				margin: auto;
				margin-top: 75px;
				padding-top: 8px;
				background-color: #232f3e;
				color: #fff;
				text-align: center;
				font-size: 60px;
			}

			a#btn_amazon:hover {
				background-color: #fc9a18;
			}


			a#btn_indiegogo {
				display: inline-block;
				margin:auto;
				margin-top: 100px;
				padding: 8px 16px;
				background-color: #fff;
				color: #eb1478;
				font-family: 'Ubuntu', sans-serif;
				font-size: 30px;
				font-weight: bold;
				text-transform: uppercase;
				text-decoration: none;
				letter-spacing: -2px;
			}

			a#btn_indiegogo:hover {
				color: #fff;
				background-color: #eb1478;
			}

			a#btn_coke img { 
				height: 100px;
				padding-top: 80px;
			 }

    a#btn_coke img:hover { 
     height: 150px;
     padding-top: 40px;
     opacity: 0.5;
    }
/*
			 a#btn_coke:hover { 
				opacity: 0.3;
			 }*/

    a#btn_apple {
     display: block;
     width: 150px;
     height: 150px;
     box-sizing: border-box;
     border-radius: 30px;
     margin: auto;
     margin-top: 75px;
     padding-top: 13px;
     background-color: grey;
     color: #fff;
     text-align: center;
     font-size: 80px;
    }

    a#btn_apple:hover {
     background-color: black;
    }

    /*a#btn_ibm {
     display: block;
     width: 150px;
     height: 150px;
     box-sizing: border-box;
     border-radius: 0px;
     margin: auto;
     background-color: grey;
     
    }*/

    a#btn_ibm img {
     padding-top: 55px;
     height: 150px;
    }

     a#btn_ibm img:hover {
     opacity: 0.3;
     height: 180px;
    }

    a#btn_nerf img {
     padding-top: 25px;
     height: 200px;
     opacity: 0.8;

    }
     a#btn_nerf img:hover {
     height: 270px;
    }

    a#btn_mk img{
     padding-top: 40px;
     height: 180px;
     opacity: 0.5;
    }

     a#btn_mk img:hover {
      opacity: 0.9;
     }

     a#btn_ideo img {
      padding-top: 30px;
      height: 220px;
     }

     a#btn_ideo img:hover {
     transform: rotate(20deg);
     }

     a#btn_craigslist {
      display: inline-block;
      margin:auto;
      font-family: 'Times New Roman', serif;
      font-size: 40px;
      text-transform: none;
      text-decoration: none;
      color: blue;
      padding-top: 80px;
     }


     a#btn_craigslist:hover {
       text-decoration: underline;
      } 

      a#btn_lyft img{
       padding-top: 90px;
       height: 100px;
      }


      a#btn_lyft img:hover{
       transform: rotate(180deg);
      }


      a#btn_samsung img {
       padding-top: 20px;
       height: 200px;
      }

      a#btn_samsung img:hover {
       opacity: 0.5;
      }

      a#btn_dime img {
       padding-top: 60px;
       height: 150px;
      }

      a#btn_dime img:hover {
       padding-top: 60px;
       transform: rotate(200deg);
      }

      a#btn_cn img {
       padding-top: 60px;
       height: 120px;
      }

      a#btn_cn img:hover {
       opacity: 0.4;
      }

       a#btn_biss img {
       padding-top: 60px;
       height: 100px;
      }

       a#btn_biss img:hover {
       opacity: 0.4;
      }


       a#btn_harley img {
       padding-top: 60px;
       height: 100px;
      }

      a#btn_harley img:hover {
          padding-top: 60px;
          height: 140px;
      }

      a#btn_ img {
       padding-top: 60px;
       height: 100px;
      }











    


