html { 
	color: black;
	font-family: sans-serif;
	background-color: khaki;
	line-height: 1.6;
	margin-left: 70px;
	margin-right: 70px;
 }

h1 { 
	color: green; 
	margin-bottom: 0px;
}

#subtitle {
	font-size: 30px;
	margin-top: 0px;
}

strong { 
	color: black;
}

em {
	opacity: 0.6 ;
}

#tone {
	opacity: 1;
	color: green;
}

.script {
	font-family: monospace;
}